<footer class="footer" id="FooterView">
    <div class="footer__btnPagetop"><a href="#" class="btn--pagetop">PAGE TOP</a></div>
    <div class="inner">
      <div class="social">
        <ul class="social__list">
          <li><a href="https://twitter.com/kim0ran" target="_blank"><span class="social__icon social__icon--twitter">Twitter</span></a></li>
          <li><a href="https://www.facebook.com/kimura.masami" target="_blank"><span class="social__icon social__icon--facebook">facebook</span></a></li>
          <li><a href="#" target="_blank"><span class="social__icon social__icon--line">LINE</span></a></li>
          <li><a href="https://www.instagram.com/kim0iman/" target="_blank"><span class="social__icon social__icon--instagram">Instagram</span></a></li>
          <li><a href="https://github.com/kim0ran" target="_blank"><span class="social__icon social__icon--github">GitHub</span></a></li>
        </ul>
      </div>
      <p class="footer__copyright">&copy; Powered by site.</p>
    </div>
  </footer>