<nav class="globalNav" id="GlobalNavView">
    <div class="globalNav__header">
      <a href="/" class="globalNav__btnHome">ホーム</a>
      <div class="globalNav__btnToggle js-globalNavToggleTrigger"></div>
    </div>
    <div class="globalNav__inner inner">
      <ul class="globalNav__list js-globalNavList">
        <li><a href="#ConceptView">コンセプト</a></li>
        <li><a href="#BlogView">ブログ</a></li>
        <li><a href="#GalleryView">ギャラリー</a></li>
        <li><a href="#ProfileView">プロフィール</a></li>
        <li><a href="#ContactView">お問い合わせ</a></li>
      </ul>
    </div>
  </nav>