<nav class="globalNav">
    <div class="globalNav__header">
      <div class="globalNav__btnToggle"></div>
    </div>
    <div class="globalNav__inner inner">
      <ul class="globalNav__list">
        <li><a href="#">コンセプト</a></li>
        <li><a href="#">ブログ</a></li>
        <li><a href="#">ギャラリー</a></li>
        <li><a href="#">プロフィール</a></li>
        <li><a href="#">お問い合わせ</a></li>
      </ul>
    </div>
  </nav>