<header class="header" id="HeaderView">
    <div class="inner">
      <h1 class="header__logo"><img src="/common/img/logo.svg" alt="きもらんドットコム"></h1>
      <p class="header__attention">現在製作中です</p>
    </div>
  </header>