/*----------------------------------------------------------
 base
------------------------------------------------------------*/

body
  background: url("/common/img/bg.png") no-repeat -15px 0
  background-attachment: fixed

// .inner
//   padding: 0 15px