/*----------------------------------------------------------
 main
------------------------------------------------------------*/

.section
  padding: 50px 0
  &--bg
    background: #039
    color: #fff

  &_header
    &__title
      position: relative
      padding-bottom: 10px
      font-size: 30px
      color: #039
      line-height: 1em
      font-weight: normal
      font-family: $font_family_brandon
      &:after
        content: ""
        display: block
        position: absolute
        bottom: 0
        left: 50%
        width: 75px
        margin-left: -37px
        border-bottom: 1px solid #8099cc
    &__caption
      margin-top: 10px
      font-family: "Noto Sans Japanese"

  &__btnOuter
    margin-top: 30px

.section--bg .section_header__title
  color: #fff


@media $mq-pc
  .section
    padding: 100px 0
    &_header
      &__title
        font-size: 42px
        padding-bottom: 20px
      &__caption
        margin-top: 20px
        font-size: 14px


/*----------------------------------------------------------
 modal
------------------------------------------------------------*/

.modal
  position: fixed
  display: none
  top: 0
  left: 0
  z-index: 10
  width: 100%
  height: 100vh
  background: rgba(255, 255, 255, 0.95)
  &__btn
    &--close
      position: absolute
      top: 15px
      right: 15px
      width: 30px
      height: 30px
      text-indent: -9999px
      cursor: pointer
      &:after, &:before
        content: ""
        display: block
        position: absolute
        top: 0
        width: 2px
        height: 100%
        background: #6d92da
      &:before
        left: 14px
        transform: rotate(45deg)
      &:after
        right: 14px
        transform: rotate(-45deg)
  &__inner
    max-height: 100%
    padding: 50px 20px
    box-sizing: border-box
    overflow-y: scroll
  &__title
    font-size: 30px
    color: #039
  &__main
    margin-top: 50px
    color: #333

