/*----------------------------------------------------------
 font
------------------------------------------------------------*/

// font-family
$font_family_brandon = "Brandon";
$font_family_notoSansJp = "Noto Sans Japanese";
$font_family_pc = $font_family_notoSansJp;
$font_family_sp = $font_family_pc;


// font-size
$font_size_min = 10px;
$font_size_s = 12px;
$font_size_m = 14px;
$font_size_l = 16px;
$font_size_xl = 18px;

$font_size_default_sp = $font_size_m;
$font_size_default_pc = $font_size_s;

// line-height
$line_height_default = 1.5em;