@charset "UTF-8";
/* ===================================================================
 gallery
======================================================================*/

@import "../../_partial/var/_all";
@import "../../_partial/function/_all";
/*----------------------------------------------------------
 
------------------------------------------------------------*/


//@media $mq-pc
